apiVersion: apps/v1
kind: Deployment
metadata:
  name: trivy
  namespace: trivy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trivy
  template:
    metadata:
      labels:
        app: trivy
    spec:
      containers:
      - name: trivy
        image: aquasec/trivy:latest
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
        volumeMounts:
        - name: trivy-cache
          mountPath: /root/.cache/trivy
      volumes:
      - name: trivy-cache
        emptyDir: {}
