apiVersion: v1
kind: Service
metadata:
  name: headlamp-service
  namespace: headlamp
spec:
  type: NodePort
  selector:
    app: headlamp
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30082
